.cart {
  padding: 2rem;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 4rem;
}
.cart__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-gap: 3rem;
  justify-content: center;
}
.cart__produc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart__delete-button {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--primaryColorLight);
  color: var(--white);
  transition: background-color 300ms linear;
}
.cart__delete-button:hover,
.cart__buy-button:hover {
background-color: var(--primaryColor);
}
.cart__buy-button {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--primaryColorDark);
  color: var(--white);
  text-transform: capitalize;
  transition: background-color 300ms linear;
}