.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: var(--backgroundColorLigth);
  width: 100%;
}
.footer__title {
  font-weight: 600;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
