.error404-container {
  display: grid;
  place-content: center center;
  height: calc(100vh - 15rem);
}
.error404-container__title {
  font-size: 8rem;
  text-align: center;
}
.error404-container__title--number {
  color: var(--primaryColor);
}
.error404-container__description {
  font-size: 3rem;
  text-align: center;
}